<div class="form-row justify-content-md-center">
	<div class="form-group col-xs-12 col-sm-10 col-md-6 col-lg-5">
		<h2 class="my-3">Liste des Utilisateurs</h2>
		
		<ul>
			<li ng-repeat="x in users track by $index" class="card mb-1">
				<div class="card-header text-muted">
					<span>{{x.username}}</span>
					<span ng-if="x.userId == userId" class="btn btn-outline-secondary float-right">Vous</span>
					<span ng-if="following.indexOf(x.id) > -1" class="btn btn-success float-right">Followed</span>
					<button ng-if="x.userId != userId && following.indexOf(x.id) < 0" class="btn btn-outline-success float-right" ng-click="addFollow(x.id)">Follow</button>
				</div>

				<div class="card-body">
					<span>Follow <span class="text-primary">{{x.following.length}}</span> compte<span ng-show="x.following.length > 1">s</span>
					<span ng-show="x.userId != userId && x.following.indexOf(userId) > -1" class="text-success">dont moi !</span>
				</span>
				</div>
			</li>
		</ul>

		<div class="btn btn-outline-primary btn-block" id="display-more-users">
			<span ng-click="listUsers(nbuserstoadd)" style="cursor:pointer">Afficher plus de users : </span>
			<select name="select-nb-users" id="select-nb-users" ng-model="nbuserstoadd">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
</div>