<!DOCTYPE html>
<html ng-app="twitt">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
  <script src="./static/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

  <link rel="stylesheet" href="./static/style.css">
</head>

<body ng-controller="TTController" class="container">
  <h1 class="my-5">TinyTwitt</h1>

  
  <div class="logForm">
    <form ng-submit="login()">
      <div class="form-row justify-content-md-center">
        <div class="form-group col-xs-12 col-sm-10 col-md-6 col-lg-4">
          <input type="text" ng-model="slogin" placeholder="Login" class="form-control">
          <input type="password" ng-model="spwd" placeholder="Password"  class="form-control">
          <input class="btn btn-primary form-control" type="submit" value="Login">
        </div>
      </div>
    </form>
    <div class="register_div">
      <a class="register_link" href="javascript:;" onclick="toggleRegister();">Pas encore membre ?</a>
    </div>
  </div>
  
  <div class="registerForm" style="display:none">
    <form ng-submit="register()">
      <div class="form-row justify-content-md-center">
        <div class="form-group col-xs-12 col-sm-10 col-md-6 col-lg-4">
          <input type="text" ng-model="slogin_reg" placeholder="Login" class="form-control">
          <input type="password" ng-model="spwd_reg" placeholder="Password"  class="form-control">
          <input type="password" ng-model="spwd_conf_reg" placeholder="Confirm password"  class="form-control">
          <input class="btn btn-primary form-control" type="submit" value="Register">
        </div>
      </div>
    </form>
    <div class="register_div">
      <a class="register_link" href="javascript:;" onclick="toggleRegister();">Se connecter</a>
    </div>
  </div>
  <div class="form-row justify-content-md-center">
    <div class="form-group col-xs-12 col-sm-10 col-md-6 col-lg-4">
      <span id="form-error" class="text-danger"></span>
    </div>
  </div>
  

<script>
  var init = function() {
    console.log("init called");
    window.init();
  };
</script>

<script>
  function toggleRegister(){
    var x = document.getElementsByClassName("registerForm");
    for(var i = 0; i < x.length; i++) {
         if (x[i].style.display === "none") {
              x[i].style.display = "block";
          } else {
              x[i].style.display = "none";
          }
    }
    var y = document.getElementsByClassName("logForm");
    for(var i = 0; i < y.length; i++) {
         if (y[i].style.display === "none") {
              y[i].style.display = "block";
          } else {
              y[i].style.display = "none";
          }
    }
  }
</script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>

</body>

</html>

