body {
	font-family: 'Quicksand', sans-serif;
}

input{
	margin-top:10px;
	margin-bottom:10px;
}

input[type="submit"], button{
	cursor: pointer;
}
textarea {
	resize: none;
}

ul{
	list-style:none;
	padding-left: 0;
}


h1{
	text-align:center;
}

.logForm{
	text-align:center;
}

.register_div{
	text-align:right;
}

.navbar-nav li {
	width: 100%;
	text-align: center;
}